{import @commonBlocks.latte}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	{*
		manifest.json provides metadata used when your web app is added to the
		homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
	*}
	<link rel="manifest" href="{$basePath}/manifest.json">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<link rel="android-chrome" sizes="192x192" href="{$basePath}/android-chrome-192x192.png" />
	<link rel="android-chrome" sizes="256x256" href="{$basePath}/android-chrome-256x256.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-touch-icon.png" />

	<link rel="mask-icon" href="{$basePath}/safari-pinned-tab.svg" color="white">

	<link rel="icon" type="image/png" href="{$basePath}/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{$basePath}/favicon-16x16.png" sizes="16x16" />

	<meta name="application-name" content="ESC"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-square150x150logo" content="{$basePath}/mstile-150x150.png" />


	<title>{ifset title}{include title|stripHtml} | {/ifset}Embryo Score &amp; Compare</title>

	{block head}
	<link rel="stylesheet" href="{webpack homepage.css}" crossorigin="anonymous">
	{/block}
</head>

<body>
	{block header}
	{include flashes flashes => $flashes}
	{/block}

	{include content}

	{block footer /}

	{block scripts}
	<script src="{webpack homepage.js}" crossorigin="anonymous"></script>
	{/block}
</body>
</html>
