		<div n:block="header" class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<header id="home">
						<nav class="d-none d-lg-block">
							<div class="container">
								<div class="row">

									<div class="col-md-3 col-xl-4">
										<h1>
											<a href="#">
												<img src="{$basePath}/img/Logo.svg">
											</a>
										</h1>
									</div>

									<div class="col-md-9 col-xl-8">
										<ul class="navigation-ours">
											<li>
												<a href="#what-we-do">What we do</a>
											</li>
											<li>
												<a href="#why-we-do-it">Why we do it</a>
											</li>
											<li>
												<a href="#get-involved">Get involved</a>
											</li>
											<li>
												<a n:href="Login:" class="btn btn-white-transparent">Login to Escape</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
						</nav>

						<div class="container-fluid h-100">
							<div class="row h-100 centered-box strongest-z-index">
								<div class="col-md-10 centered-v-h absolute">
									<h1>
										escape
									</h1>
									<h2>
										from the routine
									</h2>
									<h3>complete ecosystem for embryologists</h3>
									<a n:href="Registration:" id="register" class="btn btn-orange">REGISTER</a>
								</div>
							</div>
						</div>
						<div class="overlay"></div>
						<div id="scroll-down">
							<div class="scroll-downs">
								<div class="mousey">
									<div class="scroller"></div>
								</div>
							</div>
						</div>
						<video autoplay loop id="video-background" class="centered-v-h" muted plays-inline>
							<source src="{$basePath}/video/bgg.mp4" type="video/mp4">
						</video>
					</header>
				</div>
			</div>
		</div>

		<div n:block="content" class="container-fluid">
			<section id="what-we-do-section">
				<div class="pseudo-anchor" id="what-we-do"></div>
				<h1>Escape ecosystem covers</h1>
				<p class="text-help">click and explore</p>
				<div class="row">
					<div class="col-12 col-md-10 centered-v fix-block">
							<div class="row">
								<div class="col-6 col-md-6 col-lg-3">
									<a class="embryo e-1 active" href="#education-tab" id ="education" data-alt="Education Screens">
										<div class="svg-wrapper strongest-z-index centered-v-h absolute">
											<div class="icon" id="education-icon">
												<svg width="68px" height="65px" viewBox="0 0 68 65">
													<g id="Page-1" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
														<g id="Assets" transform="translate(-39.000000, -565.000000)" fillRule="nonzero" fill="#C8C8C8">
															<g id="education" transform="translate(39.000000, 565.000000)">
																<path d="M10.1399049,36.5294516 L28.6701466,36.5294516 C29.6683879,36.5294516 30.4776224,35.726171 30.4776224,34.7352742 C30.4776224,33.7443774 29.6683879,32.9410968 28.6701466,32.9410968 L10.1399049,32.9410968 C7.70605457,33.1215468 5.37513536,31.9348652 4.10267649,29.8675164 C2.83021762,27.8001676 2.83021762,25.1998324 4.10267649,23.1324836 C5.37513536,21.0651348 7.70605457,19.8784532 10.1399049,20.0589032 L12.1931974,20.0589032 L12.1931974,27.3935003 C12.1929798,28.0880113 12.596575,28.7202673 13.2293234,29.0166535 C13.8620718,29.3130396 14.6103088,29.2203143 15.1502277,28.7786053 L21.2667258,23.8123223 L27.3759939,28.7786053 C27.9160684,29.2158098 28.6612477,29.3058612 29.2912214,29.0100514 C29.9211952,28.7142417 30.3237282,28.0852718 30.3257944,27.3935003 L30.3257944,20.0589032 L39.4065527,20.0589032 C40.404794,20.0589032 41.2140285,19.2556226 41.2140285,18.2647258 C41.2140285,17.273829 40.404794,16.4705484 39.4065527,16.4705484 L30.3257944,16.4705484 L30.3257944,10.0115098 C30.3257944,9.02061301 29.5165599,8.21733243 28.5183186,8.21733243 L14.0006731,8.21733243 C13.0024318,8.21733243 12.1931974,9.02061301 12.1931974,10.0115098 L12.1931974,16.4705484 L10.1399049,16.4705484 C7.70605457,16.6509984 5.37513536,15.4643168 4.10267649,13.396968 C2.83021762,11.3296192 2.83021762,8.72928401 4.10267649,6.66193521 C5.37513536,4.5945864 7.70605457,3.40790483 10.1399049,3.58835477 L60.1925242,3.58835477 C61.1907655,3.58835477 62,2.7850742 62,1.79417739 C62,0.803280577 61.1907655,0 60.1925242,0 L10.1399049,0 C5.73392496,0.0174133987 1.84542009,2.86203043 0.524164924,7.03434831 C-0.797090239,11.2066662 0.752456742,15.7481136 4.35598238,18.2647258 C1.62854023,20.132177 3.21072197e-16,23.2110405 0,26.5 C-3.21072197e-16,29.7889595 1.62854023,32.867823 4.35598238,34.7352742 C0.752456742,37.2518864 -0.797090239,41.7933338 0.524164924,45.9656517 C1.84542009,50.1379696 5.73392496,52.9825866 10.1399049,53 L19.1989735,53 C20.1972148,53 21.0064493,52.1967194 21.0064493,51.2058226 C21.0064493,50.2149258 20.1972148,49.4116452 19.1989735,49.4116452 L10.1399049,49.4116452 C7.70605457,49.5920952 5.37513536,48.4054136 4.10267649,46.3380648 C2.83021762,44.270716 2.83021762,41.6703808 4.10267649,39.603032 C5.37513536,37.5356832 7.70605457,36.3490016 10.1399049,36.5294516 Z M15.8081489,11.8272173 L26.7108428,11.8272173 L26.7108428,23.6113744 L22.372901,20.1163169 C21.7065903,19.5740759 20.7473323,19.5740759 20.0810217,20.1163169 L15.7430798,23.6185511 L15.8081489,11.8272173 Z" id="Shape"></path>
																<path d="M50.7682263,49 C49.7916619,49 49,49.8954305 49,51 C49,52.1045695 49.7916619,53 50.7682263,53 L60.2317737,53 C61.2083381,53 62,52.1045695 62,51 C62,49.8954305 61.2083381,49 60.2317737,49 L50.7682263,49 Z" id="Shape"></path>
																<path d="M67.9225334,27.5535829 C67.6799072,26.0207552 66.8411402,24.6494966 65.5928476,23.7448952 L64.4600646,22.9241194 L66.1984234,20.4833913 C67.283702,18.9636668 67.7268015,17.070349 67.4301554,15.2203292 C67.1335092,13.3703095 66.1214421,11.7152868 64.6168019,10.6196821 L62.8499454,9.33092014 C59.7154482,7.05264507 55.3471947,7.77120374 53.0894882,10.9364728 L26.0665583,48.8433553 C25.8939584,49.085827 25.7837814,49.3678948 25.7459593,49.6641311 L24.014725,62.9693388 C23.930862,63.6250979 24.2095295,64.2745307 24.7405377,64.6608409 C25.2715459,65.0471512 25.9693946,65.1081373 26.5581434,64.8196842 L38.5057979,58.959057 C38.7723476,58.8286727 39.0025218,58.6331821 39.1754935,58.3902738 L62.3726092,25.8400334 L63.5053922,26.6608092 C63.9854193,27.0101787 64.3084095,27.5379852 64.4032771,28.1280655 C64.4981448,28.7181458 64.3571148,29.3221397 64.0112261,29.8071165 L55.6970264,41.4635728 C55.3254111,41.9857368 55.2576794,42.6685879 55.5193454,43.2549028 C55.7810114,43.8412176 56.3323216,44.241921 56.9656029,44.3060718 C57.5988843,44.3702226 58.2179261,44.0880749 58.5895415,43.5659108 L66.9037411,31.9166543 C67.8072025,30.6585779 68.1741458,29.0871096 67.9225334,27.5535829 Z M55.9820033,13.0388108 C57.0909946,11.488296 59.2325117,11.1372623 60.7696144,12.254034 L62.5364709,13.542796 C63.2749347,14.0798543 63.7717551,14.8916347 63.9174246,15.7992075 C64.063094,16.7067802 63.8456544,17.6356409 63.3130328,18.3810533 L60.5487573,22.2689387 L60.5487573,22.2689387 L37.9857151,53.8904065 C36.4037202,51.127232 33.7232418,49.184109 30.6261879,48.5553637 L55.9820033,13.0388108 Z M29.037442,51.9752629 C31.8064546,52.205726 34.2221131,53.9652835 35.3140571,56.5471281 L27.9759032,60.147022 L29.037442,51.9752629 Z" id="Shape"></path>
															</g>
														</g>
													</g>
												</svg>
											</div>
											<h2>Education</h2>
										</div>
										<div class="embryo-bg embryo-bg-1"></div>
									</a>
								</div>
								<div class="col-6 col-md-6 col-lg-3">
									<a class="embryo e-2" href="#research-tab" id ="research" data-alt="Research Screens">
										<div class="svg-wrapper strongest-z-index centered-v-h absolute">
											<div class="icon" id="research-icon">
												<svg width="63px" height="76px" viewBox="0 0 63 76">
													<g id="Page-1" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
														<g id="Assets" transform="translate(-145.000000, -559.000000)" fillRule="nonzero" fill="#C8C8C8">
															<g id="microscope" transform="translate(145.000000, 559.000000)">
																<path d="M0,45.4520657 C0.012739131,57.2373932 9.60191969,66.7928842 21.4458216,66.822542 L24.2908332,66.822542 L24.2908332,72.153622 L17.093263,72.153622 C16.0258333,72.153622 15.1605105,73.014663 15.1605105,74.076811 C15.1605105,75.138959 16.0258333,76 17.093263,76 L53.6068229,76 C54.6742526,76 55.5395754,75.138959 55.5395754,74.076811 C55.5395754,73.014663 54.6742526,72.153622 53.6068229,72.153622 L46.3783286,72.153622 L46.3783286,57.5373855 C46.3783286,57.4604579 46.3783286,57.3912231 46.3783286,57.3219883 L61.0672475,57.3219883 C62.1346772,57.3219883 63,56.4609473 63,55.3987993 C63,54.3366513 62.1346772,53.4756103 61.0672475,53.4756103 L45.6052276,53.4756103 C43.9402805,49.3028998 39.8851266,46.563475 35.373236,46.563475 C30.8613453,46.563475 26.8061915,49.3028998 25.1412443,53.4756103 L21.4458216,53.4756103 C17.6981705,53.4697774 14.4535999,50.8836193 13.6298426,47.2457081 C12.8060853,43.6077969 14.6225182,39.886954 18.0055221,38.2824171 C22.147574,41.1094259 27.7683488,40.3546087 31.0090809,36.5361615 L34.1014848,39.6132639 C36.0811018,41.5872874 39.2477822,41.7308186 41.3995582,39.9440524 L44.7780096,43.3057868 C46.0602214,44.5772469 48.1344037,44.5772469 49.4166155,43.3057868 L52.6636397,40.0748292 C53.9371948,38.7972266 53.9371948,36.7367782 52.6636397,35.4591756 L49.3547675,32.0820557 C51.1504188,29.9409269 51.0061738,26.7899156 49.022334,24.820094 L27.6306295,3.56500902 C27.2680287,3.20328909 26.7756852,3 26.2622408,3 C25.7487963,3 25.2564529,3.20328909 24.893852,3.56500902 L12.8025525,15.6349433 C12.4390338,15.9957499 12.2347338,16.4856572 12.2347338,16.9965611 C12.2347338,17.5074649 12.4390338,17.9973723 12.8025525,18.3581789 L17.2246901,22.7661281 C16.4598475,23.4089353 15.797716,24.1637655 15.2610136,25.0047201 C6.20971056,27.7410041 0.0163866694,36.039079 0,45.4520657 Z M35.3616395,50.3754296 C37.2650414,50.3794982 39.0886306,51.1368421 40.4301841,52.4804163 C41.7717376,53.8239906 42.5210412,55.6434151 42.5128237,57.5373855 L42.5128237,72.153622 L28.1872622,72.153622 L28.1872622,57.5373855 C28.1790306,55.6394179 28.9315126,53.8164874 30.2780863,52.4722451 C31.62466,51.1280028 33.4542172,50.3733645 35.3616395,50.3754296 L35.3616395,50.3754296 Z M23.5641183,36.1053671 C20.2807045,36.1053671 17.6189717,33.4568048 17.6189717,30.1896377 C17.6189717,26.9224706 20.2807045,24.2739083 23.5641183,24.2739083 C26.8475321,24.2739083 29.5092649,26.9224706 29.5092649,30.1896377 C29.5050058,33.4550478 26.8457663,36.1011291 23.5641183,36.1053671 Z M47.1668916,40.1748351 L44.2059148,37.2285095 L46.633452,34.8129841 L49.5944288,37.7593097 L47.1668916,40.1748351 Z M16.8999877,16.9965611 L26.2931648,7.64986248 L46.2932875,27.5356369 C46.5860031,27.8245254 46.7506515,28.2177727 46.7506515,28.6280082 C46.7506515,29.0382437 46.5860031,29.4314911 46.2932875,29.7203796 L39.0957173,36.8823355 C38.4807905,37.4645431 37.5150373,37.4645431 36.9001104,36.8823355 L32.9650264,32.9744154 C33.997144,29.5417227 33.0532654,25.8223115 30.5070792,23.2887241 C27.960893,20.7551367 24.2229863,19.8159286 20.7732237,20.8429391 L16.8999877,16.9965611 Z M13.8075838,29.6973013 C13.8075838,29.866542 13.8075838,30.0280898 13.8075838,30.1973305 C13.8196214,32.0339863 14.3558414,33.8294383 15.3537857,35.3745553 C10.8216522,38.1408472 8.68599876,43.5648278 10.1233791,48.6583699 C11.5607595,53.7519119 16.2217627,57.276833 21.5385937,57.2912173 L24.3990674,57.2912173 C24.3990674,57.3604521 24.3990674,57.4373796 24.3990674,57.5066145 L24.3990674,62.9838568 L21.4458216,62.9838568 C13.2339314,63.0002797 6.10054987,57.3671565 4.25145878,49.4057293 C2.40236769,41.4443021 6.32840479,33.2679168 13.7148116,29.6973013 L13.8075838,29.6973013 Z" id="Shape"></path>
																<path d="M13.4640203,10.3410894 L20.4173396,3.39836718 C20.9198541,2.89546907 21.1161084,2.16247909 20.9321753,1.47550748 C20.7482422,0.78853587 20.2120657,0.251949962 19.5256181,0.0678764806 C18.8391706,-0.116197 18.1067398,0.080207088 17.6042253,0.583105224 L10.6667993,7.52582749 C10.116517,8.01537718 9.88190315,8.76934964 10.0571598,9.48501038 C10.2324164,10.2006711 10.7887991,10.7606422 11.5029094,10.9400846 C12.2170198,11.1195269 12.9717342,10.8890094 13.4640203,10.3410894 Z" id="Shape"></path>
															</g>
														</g>
													</g>
												</svg>
											</div>
											<h2>Research</h2>
										</div>
										<div class="embryo-bg embryo-bg-2"></div>
									</a>
								</div>
								<div class="col-6 col-md-6 col-lg-3">
									<a class="embryo e-3" href="#decision-tab" id="decision" data-alt="Decision Screens">
										<div class="svg-wrapper strongest-z-index centered-v-h absolute">
											<div class="icon" id="decision-icon">
												<svg width="69px" height="55px" viewBox="0 0 69 55">
													<g id="Page-1" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
														<g id="Assets" transform="translate(-264.000000, -570.000000)" fillRule="nonzero" fill="#C8C8C8">
															<g id="scale" transform="translate(264.000000, 570.000000)">
																<path d="M68.9955629,40.7053248 C69.001479,40.6220123 69.001479,40.5383849 68.9955629,40.4550725 C68.9955629,40.4550725 68.9955629,40.3907219 68.9955629,40.3621216 C68.9758308,40.2744731 68.9495464,40.1884304 68.9169315,40.1047192 L68.9169315,40.0546688 L68.9169315,40.0546688 L57.1007801,12.9487692 C57.1129197,12.4284014 56.8911798,11.9300007 56.4965659,11.5906877 C56.101952,11.2513747 55.5760374,11.1068968 55.0635126,11.1970031 L39.6517628,13.4492738 C38.9233328,11.8704985 37.5593227,10.6750718 35.8989017,10.1602435 L35.8989017,1.78751646 C35.8989017,0.800298378 35.0988001,0 34.1118249,0 C33.1248497,0 32.3247482,0.800298378 32.3247482,1.78751646 L32.3247482,10.1602435 C30.0432661,10.8517612 28.3700454,12.8043322 28.035764,15.1652896 L13.3316966,17.3103094 C12.357417,17.4538975 11.6828915,18.3588155 11.8234038,19.333778 C11.8234038,19.333778 11.8234038,19.3766784 11.8234038,19.4052787 L0.0858837534,46.5397785 L0.0858837534,46.5397785 L0.0858837534,46.5898289 C0.0532433437,46.6735312 0.0269583931,46.7595759 0.00725237673,46.8472313 C0.00725237673,46.8472313 0.00725237673,46.9115819 0.00725237673,46.9401822 C0.00136016981,47.0234955 0.00136016981,47.1071211 0.00725237673,47.1904345 C0.00725237673,47.1904345 0.00725237673,47.2261848 0.00725237673,47.247635 C0.00725237673,47.2690852 0.00725237673,47.247635 0.00725237673,47.247635 C-0.00241745891,47.3546679 -0.00241745891,47.462355 0.00725237673,47.569388 L0.00725237673,47.6337385 C0.0256224897,47.7139411 0.0495069769,47.7927793 0.0787354464,47.8696907 L0.121625288,47.9697916 C0.15127791,48.0336846 0.184695425,48.095761 0.221701586,48.1556934 L0.271739734,48.2414941 C0.329565207,48.3230254 0.394126322,48.3995611 0.464744023,48.4702962 L0.464744023,48.4702962 L2.25182076,50.2578127 C8.58604576,56.5807291 18.8422162,56.5807291 25.1764412,50.2578127 L25.1764412,50.2578127 L26.9635179,48.4702962 C27.0372838,48.3953351 27.1042633,48.3139828 27.1636705,48.227194 L27.2137087,48.1485433 C27.2534098,48.0864741 27.2892202,48.0219995 27.3209333,47.9554915 L27.3638231,47.8553906 C27.3930516,47.7784792 27.4169361,47.699641 27.4353062,47.6194384 L27.4353062,47.5550878 C27.445015,47.4480567 27.445015,47.340366 27.4353062,47.2333349 C27.4353062,47.2333349 27.4353062,47.2333349 27.4353062,47.2333349 C27.4353062,47.2333349 27.4353062,47.1975845 27.4353062,47.1761343 C27.4411747,47.0928202 27.4411747,47.0091962 27.4353062,46.925882 C27.4353062,46.925882 27.4353062,46.8615314 27.4353062,46.8329312 C27.4156265,46.7452688 27.389341,46.6592222 27.3566748,46.5755288 L27.3566748,46.5254783 L27.3566748,46.5254783 L16.0480532,20.5063888 L28.6147769,18.6759719 C29.77389,21.0760001 32.3554171,22.4466958 34.9922857,22.0621942 C37.6291543,21.6776926 39.7120063,19.6268487 40.1378477,16.9957065 L52.3757492,15.20819 L41.6175472,40.0546688 L41.6175472,40.0546688 L41.6175472,40.1047192 C41.5848811,40.1884126 41.5585955,40.2744592 41.5389159,40.3621216 C41.5389159,40.3621216 41.5389159,40.4264722 41.5389159,40.4550725 C41.5329756,40.5383841 41.5329756,40.6220131 41.5389159,40.7053248 C41.5389159,40.7053248 41.5389159,40.7410751 41.5389159,40.7625253 C41.5389159,40.7839755 41.5389159,40.7625253 41.5389159,40.7625253 C41.529246,40.8695582 41.529246,40.9772453 41.5389159,41.0842782 L41.5389159,41.1486288 C41.5572416,41.2288432 41.581127,41.3076845 41.6103989,41.384581 L41.6532888,41.4846819 C41.6850181,41.5511816 41.720828,41.6156552 41.7605134,41.6777337 L41.8105515,41.7563844 C41.8699886,41.8431508 41.936966,41.9245005 42.0107041,41.9994867 L43.7977809,43.7870031 C46.8371313,46.8289568 50.9604886,48.5380646 55.2600911,48.5380646 C59.5596935,48.5380646 63.6830508,46.8289568 66.7224013,43.7870031 L68.509478,41.9994867 L68.509478,41.9994867 C68.5801206,41.9287744 68.6446835,41.8522365 68.7024823,41.7706846 L68.7525205,41.6848838 C68.7895412,41.6249598 68.8229592,41.5628826 68.8525968,41.4989821 L68.8954866,41.3988811 C68.9247805,41.3219921 68.9486664,41.2431493 68.9669697,41.162929 L68.9669697,41.0985784 C68.9766395,40.9915455 68.9766395,40.8838583 68.9669697,40.7768254 C68.9669697,40.7768254 68.9669697,40.7768254 68.9669697,40.7768254 C68.9669697,40.7768254 68.9955629,40.726775 68.9955629,40.7053248 Z M45.9637179,38.9678588 L55.1993305,17.6177622 L64.4921295,38.9678588 L45.9637179,38.9678588 Z M4.446351,45.4672686 L13.7391501,24.110022 L23.0319491,45.4672686 L4.446351,45.4672686 Z M6.27631759,49.0423015 L21.1447961,49.0423015 C16.7121309,52.2645978 10.7089827,52.2645978 6.27631759,49.0423015 Z M34.1118249,18.5472708 C32.9550504,18.544271 31.9467024,17.7591539 31.6599556,16.6382032 C31.6677447,16.4800465 31.6434281,16.3219502 31.5884726,16.1734489 C31.5884726,16.1162484 31.5884726,16.0661979 31.5884726,16.0089974 C31.5908724,14.7245685 32.5521351,13.6443622 33.8273175,13.4931248 C35.1025,13.3418874 36.2896579,14.1672897 36.5922874,15.4155419 C36.5822027,15.5925113 36.6064773,15.7697595 36.6637705,15.9374967 C36.6637705,15.9374967 36.6637705,15.9875472 36.6637705,16.0089974 C36.6618773,16.6840865 36.3919482,17.3307731 35.9133649,17.8067923 C35.4347817,18.2828115 34.7867479,18.5491697 34.1118249,18.5472708 L34.1118249,18.5472708 Z M47.7865361,42.5428917 L62.6621629,42.5428917 C58.2354039,45.7913791 52.2132951,45.7913791 47.7865361,42.5428917 Z" id="Shape"></path>
															</g>
														</g>
													</g>
												</svg>
											</div>
											<h2>Decision</h2>
										</div>
										<div class="embryo-bg embryo-bg-3"></div>
									</a>
								</div>
								<div class="col-6 col-md-6 col-lg-3">
									<a class="embryo e-4" href="#practical-tools-tab" id="practical-tools" data-alt="Practical Tools Screens">
										<div class="svg-wrapper strongest-z-index centered-v-h absolute">
											<div class="icon" id="practical-tools-icon">
												<svg width="69px" height="69px" viewBox="0 0 69 69">
													<g id="Page-1" stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
														<g id="Assets" transform="translate(-389.000000, -563.000000)" fillRule="nonzero" fill="#C8C8C8">
															<g id="pipette" transform="translate(389.000000, 563.000000)">
																<path d="M65.5,3.8 L65.5,3.8 C63.5,1.7 60.8,0.6 57.9,0.5 C54.9,0.5 52.3,1.6 50.2,3.6 L44.8,8.9 C42.6,7.5 39.7,7.8 37.9,9.6 C35.8,11.7 35.7,15 37.6,17.2 L9.9,45.5 C6.3,49.2 4.3,55.5 3.2,58.9 L3.1,59.2 C3,59.7 1.9,61.5 0.8,63 C0.3,63.8 0.4,64.8 1,65.4 L3.5,67.9 C3.9,68.3 4.3,68.5 4.8,68.5 C5.2,68.5 5.6,68.4 5.9,68.2 C7.4,67.1 9.2,66.1 9.7,65.9 L10,65.8 C13.4,64.7 19.8,62.7 23.4,59.1 L51.8,31.4 C52.8,32.2 54.1,32.7 55.4,32.7 L55.4,32.7 C56.9,32.7 58.3,32.1 59.3,31.1 C60.3,30.1 60.9,28.7 60.9,27.2 C60.9,26.1 60.6,25 59.9,24.1 L65.1,19.1 C69.5,14.9 69.6,8.1 65.5,3.8 Z M62.6,16.3 L57.5,21.3 L47.6,11.4 L52.9,6.3 C54.2,5 56,4.3 57.9,4.3 C59.8,4.3 61.5,5.1 62.8,6.4 C65.4,9.2 65.3,13.6 62.6,16.3 Z M57.2,27.2 C57.2,27.7 57,28.1 56.7,28.4 L56.7,28.4 C56.4,28.7 55.9,28.9 55.5,28.9 C55.5,28.9 55.5,28.9 55.5,28.9 C55,28.9 54.6,28.7 54.3,28.4 L40.5,14.7 C39.8,14 39.8,12.9 40.5,12.2 C40.8,11.9 41.3,11.7 41.7,11.7 C41.7,11.7 41.7,11.7 41.7,11.7 C42.2,11.7 42.6,11.9 42.9,12.2 L56.7,26 C57,26.3 57.2,26.7 57.2,27.2 Z M20.8,56.3 C17.8,59.2 12,61.1 8.9,62.1 L8.6,62.2 C7.9,62.4 6.7,63.1 5.1,64.1 L4.8,63.8 C5.6,62.6 6.4,61.2 6.7,60.3 L6.8,60 C7.8,56.9 9.7,51.1 12.6,48 L17.8,42.7 L20.6,45.6 C21.3,46.3 22.6,46.3 23.3,45.6 C24.1,44.9 24.1,43.7 23.3,42.9 L20.4,39.9 L21.8,38.5 L24.7,41.5 C25.4,42.2 26.7,42.2 27.4,41.5 C28.2,40.8 28.2,39.6 27.4,38.8 L24.4,35.7 L25.8,34.3 L28.9,37.4 C29.6,38.1 30.9,38.1 31.6,37.4 C32.4,36.7 32.4,35.5 31.6,34.7 L28.5,31.5 L29.9,30.1 L33.1,33.4 C33.8,34.1 35.1,34.1 35.8,33.4 C36.6,32.7 36.6,31.5 35.8,30.7 L32.6,27.4 L34,26 L37.3,29.4 C38,30.1 39.3,30.1 40,29.4 C40.8,28.7 40.8,27.5 40,26.7 L36.6,23.2 L40.2,19.5 L49.1,28.4 L20.8,56.3 L20.8,56.3 Z" id="Shape"></path>
															</g>
														</g>
													</g>
												</svg>
											</div>
											<h2>Practical tools</h2>
										</div>
										<div class="embryo-bg embryo-bg-4"></div>
									</a>
								</div>
							</div>
					</div>
				</div>

				<div class="row tab-content">
					<div class="col-10 col-md-8 centered-v embryo-content fade show active" id="education-tab"
					role="tabpanel" data-tab="education">
						<h2>Education: Embryo Score &amp; Compare</h2>
						<p>Educate yourself – evaluate embryos in a standardized way. Browse thousands of embryos and support your decision-making process with experience of other embryologists.</p>
					</div>
					<div class="col-10 col-md-8 centered-v embryo-content fade" id="research-tab"
					role="tabpanel" data-tab="research">
						<h2>Research: Annotator</h2>
						<p>Research of embryos is key for improving IVF techniques. Annotator as part of Escape ecosystem provides you with thousands of anotated, graded and marked embryos.</p>
					</div>
					<div class="col-10 col-md-8 centered-v embryo-content fade" id="decision-tab"
					role="tabpanel" data-tab="decision">
						<h2>Decision: CATI Online</h2>
						<p>Support or fully automate your decision process with embryo selection and evaluation. Using time-lapse technology helps you to observe all development stages of embryos. Evaluation can be performed in more detail and precise.</p>
					</div>
					<div class="col-10 col-md-8 centered-v embryo-content fade" id="practical-tools-tab"
					role="tabpanel" data-tab="practical-tools">
						<h2>Practical tools</h2>
						<p>Use tools developed by embryologists for embryologists. EC certified sterile medical instruments and products for daily practice of clinical embryology.</p>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-md-12 d-none d-md-block d-lg-block">
						<h3>Look inside Embryo Score &amp; Compare</h3>
					</div>
				</div>
				<div class="row justify-content-center apple-monitor">
					<div class="col-md-12">
						<div class="d-none d-md-flex d-lg-flex">
							<img class="apple-img" src="{$basePath}/img/mactemplate.png">
							<div class="carousel-container">

								<div class="carousel">

										<div class="carousel-item" data-imgum="0">
											<img class="d-inline-block" src="{$basePath}/img/screens/education/img1.jpg" alt="Education Screens" >
										</div>
										<div class="carousel-item active" data-imgnum="1">
											<img class="d-inline-block" src="{$basePath}/img/screens/education/img2.jpg" alt="Education Screens" >
										</div>
										<div class="carousel-item" data-imgnum="2">
											<img class="d-inline-block" src="{$basePath}/img/screens/education/img3.jpg" alt="Education Screens" >
										</div>
										<div class="carousel-item" data-imgum="3">
											<img class="d-inline-block" src="{$basePath}/img/screens/education/img4.jpg" alt="Education Screens" >
										</div>

								</div>

							</div>
						</div>
						<a n:href="Registration:" class="btn btn-orange">TRY ESCAPE for FREE</a>
					</div>
				</div>
			</section>

			<section id="take-a-look-section">
				<div class="pseudo-anchor" id="take-a-look"></div>
				<div class="row fix-block">
					<div class="col-10 col-sm-8 col-md-5">
						<h1>Take a look inside</h1>
						<p>Only by <b>escaping from our daily routine</b> we can make changes. We honestly believe, that by cooperation and sharing knowledge in embryology field we can improve our work and bring better results to our daily practice.</p>
						<a n:href="Tutorial:" class="btn btn-orange">LOOK INSIDE</a>
					</div>
				</div>
				<div class="screen-border">
					<img src="{$basePath}/img/screens/tutorial.jpg" alt="take a look">
				</div>
			</section>

			<section id="why-we-do-it-section">
				<div class="pseudo-anchor" id="why-we-do-it"></div>
				<h1>
					<div class="c-logo-wrapper">
						<img id="c-logo" src="{$basePath}/img/c-logo.svg">
					</div>
					Why we do it
				</h1>
				<div class="row justify-content-center">
					<div class="col-10 col-md-8">
						<p>Only by <strong>escaping from our daily routine</strong> we can make changes. We honestly believe, that by cooperation and sharing knowledge in embryology field we can improve our work and bring better results to our daily practice.</p>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-10">
						<img id="esc-root" src="{$basePath}/img/ESC.svg">
						<div class="lines-wrapper d-none d-md-block d-lg-block">
							<img id="esc-left" src="{$basePath}/img/lineLeft.svg">
							<img id="esc-center" src="{$basePath}/img/lineCenter.svg">
							<img id="esc-right" src="{$basePath}/img/lineRight.svg">
						</div>
						<div class="lines-wrapper-shadow">
							<p>Expert's cooperation</p>
							<p>Sharing of experience</p>
							<p>Knowledge cultivation</p>
						</div>

					</div>

				</div>
			</section>

			<section id="what-we-want-section">
				<div class="pseudo-anchor" id="what-we-want"></div>
				<h1>What we want to achieve</h1>
				<div class="boxes">
					<div class="box">
						<div class="img">
							<img class="centered-v-h absolute" src="{$basePath}/img/icon_result.svg">
						</div>
						<div class="title">
							<h2>Standardisation</h2>
						</div>
						<div class="text">
							<p>Each embryologist evaluates the same embryo differently.</p>
							<p>No standardisation brings <strong>confusion</strong> into IVF process and our customers can not rely on <strong>consistency of results</strong>.</p>
						</div>
					</div>
					<div class="box">
						<div class="img">
							<img class="centered-v-h absolute" src="{$basePath}/img/educationActive.svg">
						</div>
						<div class="title">
							<h2>Qualified educational process</h2>
						</div>
						<div class="text">
							<p>There is <strong>no consistent</strong> approach for education in embryology.</p>
							<p>This <strong>lack of guidelines</strong> results in chaotic environment and <strong>complicates cooperation</strong> of embryologists.</p>
						</div>
					</div>
					<div class="box">
						<div class="img">
							<img class="centered-v-h absolute" src="{$basePath}/img/ecosystem.svg">
						</div>
						<div class="title">
							<h2>Reliable ecosystem and information sharing</h2>
						</div>
						<div class="text">
							<p><strong>Exchange of information</strong> is a key to expanding our knowledge.</p>
							<p>By <strong>sharing</strong> our scientific observations and outcomes we can benefit by bringing <strong>better results</strong> to our daily praxis.</p>
						</div>
					</div>
				</div>
			</section>

			<section id="get-involved-section">
				<div class="pseudo-anchor" id="get-involved"></div>
				<div class="row justify-content-center">
					<div class="col-10 col-md-12">
						<img id="bubble-element" src="{$basePath}/img/bubble-element.svg">
						<h1>Any thoughts?</h1>
						<p>Are you interested in becoming part of embryologists community? Do you have something to ask or suggest? Please contact me.</p>
					</div>
				</div>
				<div class="row justify-content-center fix-block">
					<div class="col-10 col-md-6 order-down-md-2">
						<img id="hlinka-contact" src="{$basePath}/img/Hlinka.png">
						<div class="quote-wrapper">
							<figure>
								<blockquote>Some cool quote about why you should join Escape ecosystem.</blockquote>
								<figcaption>
									Daniel Hlinka, MVD., PhD
								</figcaption>
							</figure>
						</div>
					</div>
					{control contactControl}
				</div>
			</section>
		</div>

		<div n:block="footer" class="container-fluid">
			<footer>
				<div class="container-fluid">
					<div class="row justify-content-center fix-block">
						<div class="col-10 col-lg-3 d-none d-lg-block">
							<div class="img-container">
								<img class="fc" src="{$basePath}/img/pfc-logo.svg">
							</div>
						</div>
						<div class="col-10 col-lg-6 col-xl-7">
							<div class="row justify-content-center">
								<div class="col-10 col-lg-4">
									<p class="p-header">Contact</p>
									<p>Daniel Hlinka, MVD., PhD.</p>
									<p>hlinka@pragueivf.cz</p>
								</div>
								<div class="col-10 col-lg-4">
									<p class="p-header">Links</p>
									<a target="_blank" href="http://www.pragueivf.com/">www.pragueivf.com</a>
									<a target="_blank" href="https://fertilitypedia.org/">www.fertilitypedia.com</a>
								</div>
								<div class="col-10 col-lg-4">
									<p class="p-header">Partners</p>
									<a target="_blank" href="http://www.pragueivf.com">pragueivf.com</a>
									<a target="_blank" href="http://microtech-ivf.cz">microtech-ivf.cz</a>
									<a target="_blank" href="http://aquachemie.cz">aquachemie.cz</a>
								</div>
							</div>
						</div>
						<div class="col-10 col-lg-3 d-block d-lg-none">
							<div class="img-container">
								<img class="fc" src="img/pfc-logo.svg">
							</div>
						</div>
						<div class="col-10 col-lg-3 col-xl-2">
							<div class="img-container">
								<a target="_blank" href="https://www.netvor.co">
									<img class="nt" src="{$basePath}/img/netvor-logo-footer.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<a href="#top">
				<div class="back-to-top back-to-top-1">
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</div>
			</a>

			<nav class="nav nav-fixed">
				<div class="container">
					<div class="row">

						<div class="col-md-3 col-xl-4">
							<h1>
								<a href="#">
									<img src="{$basePath}/img/ESC_logo_orange.svg" alt="Embryo Score &amp; Compare">
								</a>
							</h1>
						</div>

						<div class="col-md-9 col-xl-8">
							<ul class="navigation-ours">
								<li>
									<a href="#what-we-do">What we do</a>
								</li>
								<li>
									<a href="#why-we-do-it">Why we do it</a>
								</li>
								<li>
									<a href="#get-involved">Get involved</a>
								</li>
								<li>
									<a n:href="Login:" class="btn btn-white-transparent">Login to Escape</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>




