// TO-DO Seb: Refactoring of these styles

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


/* General */

.disabled-link {
  pointer-events: none;
}

.Container {
	width: 100%;
	text-align: center;
}


.Block {
	display: inline-block;
}

.Milestone-image {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}


/* Learning */
.Learning-card {
	width: 20rem;
}


/* Evaluation D5 */

nav.Evaluation-nav {
	a {
		margin-right: 10px;
	}
}

nav.Internal-nav {
	a {
		margin-right: 10px;
	}
}

/* Embryo Library */
.Topbar-paragraph {
	display: inline-block;
	margin-left: 10px;
}

.Filter-container {
	margin-top: 15px;
}

/* Compare Embryos Preview */
.Compare-image {
	width: 100px;
	height: 100px;
}
