body {
	text-align: center;
	padding-bottom: 70px;
}

.footer-link a {
	color: #747474;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	&:hover {
		text-decoration: underline;
		color: #E37526;
	}
}

.form-container {
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	max-width: 485px;
	min-height: 329px;
	text-align: center;
	margin: 90px auto 35px;
	padding: 18px 45px 25px;
	position: relative;
	img {
		margin-top: 40px;
		margin-bottom: 30px;
	}
	p {
		color: #A1A1A1;
		font-family: "Open Sans";
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 0;
		font-weight: normal;
	}
	h2 {
		color: #4F4F4F;
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		margin-bottom: 10px;
	}
	.checkbox {
		position: relative;
		height: 20px;
		width: 20px;
		display: inline-block;
		margin-bottom: -5px;
		& ~ label {
			position: relative;
			cursor: pointer;
			// so checkbox can be clickable anytime, even when user click between checkbox and label
			padding-left: 7px;
			left: -4px;
		}
		span {
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border: 2px solid #A1A1A1;
			border-radius: 2px;
			background-color: white;
			position: absolute;
			transition: all .2s ease;
			&:after {

				content: "";
				position: absolute;
				left: 7px;
				top: 6px;
				width: 0;
				height: 0;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg) scale(0.8);
				-ms-transform: rotate(45deg) scale(0.8);
				transform: rotate(45deg) scale(0.8);
			}
		}
		input:checked + span {
			border-color: #EB8446;
			background-color: #EB8446;
			&:after {
				opacity: 1;
				width: 8px;
				height: 14px;
				left: 4.5px;
				top: -1px;
				transition: all .1s;
			}
		}
	}
	label {
		color: #6F6F6F;
		font-size: 14px;
		line-height: 24px;
	}
	a {
		color: #4A4A4A;
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
	}
} // end of form-container

.login-form-container,
.password-form-container {
	&::before {
		content: url(../frontend/img/icon-esclogo-grey.svg);
		position: absolute;
		z-index: -1;
		left: -103px;
		bottom: -54px;
	}
	a {
		opacity: .5;
	}
}

.registration-form-container {
	&::before {
		content: url(../frontend/img/icon-esclogo-grey.svg);
		position: absolute;
		z-index: -1;
		right: -68px;
		top: -22px;
	}
}
