.user{
	&-form {
		button[type=submit] {
			width: 100%;
			background-color: #F3A16A;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&-header {
		background-color: white;
		border: 0;
		border-bottom: 1px solid #dddddd;
		height: 105px;
		h1 {
			padding-top: 30px;
			padding-left: 100px;
			color: #484848;
			font-size: 39px;
			font-weight: 300;
			line-height: 53px;
		}
	}
	&-body {
		padding-top: 50px;
		padding-bottom: 70px;
	}
}

.img-rounded {
	height: 180px;
	width: 180px;
	background-image: url('./img/avatar.png');
	background-color: #D8D8D8;
	background-size: 100%;
	position: relative;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// TO-DO possible refactor
.wrap-collabsible {
	margin-bottom: 1.2rem;
}

input[type='checkbox'].toggle {
	display: none;
}

.lbl-toggle {
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
	color: #A77B0E;
	background: #FAE042;
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
	color: #7C5A0B;
}

.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
}

.toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	background: rgba(250, 224, 66, .2);
	border-bottom: 1px solid rgba(250, 224, 66, .45);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: .5rem 1rem;
}
// TO-DO possible refactor


.wrap-collabsible {
	margin-top: 40px;
	margin-bottom: 30px;
	.content-inner {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.lbl-toggle {
		line-height: 22px;
		padding: 12px 54px;
		margin: 0 auto;
		display: block;
		width: 100%;
		border-radius: 25px;
	}
}
