$normal: #4DDD89;
$collapses: #F9CA20;
$low: #956F1D;
$degenerated: #E85B5F;
$delayed: #FFBD77;

.normal-bg {
	background-color: $normal;
}

.collapses-bg {
	background-color: $collapses;
}

.low-bg {
	background-color: $low;
}

.degenerated-bg {
	background-color: $degenerated;
}

.delayed-bg {
	background-color: $delayed;
}

.circle-items-line-wrapper {
	width: 89%;
	margin-left: 113px;
	position: relative;
	display: block;
	float: left;
	.circle-item {
		margin-right: 48px;
		float: left;
		color: #4A4A4A;
		font-size: 12px;
		line-height: 17px;
		&:before {
			content: '';
			display: inline-block;
			width: 13px;
			height: 13px;
			border-radius: 7.5px;
			position: relative;
			top: 2px;
			left: 2px;
			margin-right: 8px;
			box-shadow: 0 2px 4px 0 rgba(98,98,98,0.5);
		}
		&__green:before {
			background-color: #4DDD89;
		}
		&__orange:before {
			background-color: #FFBD77;
		}
		&__yellow:before {
			background-color: #F9CA20;
		}
		&__brown:before {
			background-color: #956F1D;
		}
		&__red:before {
			background-color: #E85B5F;
		}
	}
}

.stage-of-dev {
	color: #A1A1A1;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	display: inline-block;
	float: left;
	margin-top: 30px;
	width: 6%;
	padding: 0;
	min-width: 113px;
	text-align: left;
}

table.impl-chance-table {
	margin-top: 14px;
	width: 100%;
	tbody {
		tr {
			td {
				position: relative;
				height: 75px;
				padding: 0;
				border: 1px solid #ececec;
				width: 199px;
				max-width: 199px;
				word-wrap: break-word;
				&:first-child {
					width: 6%;
					min-width: 113px;
					border: none;
					text-align: left;
					color: #4A4A4A;
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
				}
			}
		}
		.embryo {
			position: absolute;
			top: 0;
			z-index: 3;
			height: 60px;
			width: 60px;
			padding: 0;
			transition: all 0.25s;
			margin: 11px auto;
			display: inline-block;
			cursor: pointer;
			&:hover{
				z-index: 10;
			}
			.text {
				border-radius: 4px;
				box-shadow: 0 2px 4px 0 rgba(98,98,98,0.5)!important;
				div {
					font-size: 19px;
					line-height: 26px;
				}
			}
			&.normal, &.collapses, &.delayed {
				.text div {
					color: rgba(0,0,0,0.35);
				}
			}
			&.low, &.degenerated {
				.text div {
					color: rgba(255,255,255,0.75);
				}
			}
		}

		.embryo {
			&:hover .pseudo-tooltip {
				display: block;
				z-index: 10;
			}
			& + .embryo {
				margin-left: 5px;
			}
			.img {
				border-radius: 4px 4px 0 0;
				overflow: hidden;
				position: absolute;
				top: 0;
				height: 70px;
				display: block;
				left: 0;
				width: 100%;
				background-color: lightgray;
				img {
					height: 70px;
					border-radius: 4px 4px 0 0;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.text {
				color: #FFFFFF;
				font-size: 22px;
				font-weight: 600;
				letter-spacing: 1px;
				line-height: 30px;
				text-align: center;
				text-transform: uppercase;
				cursor: default;
			}
		}

		.normal .text,
		.category-title.normal {
			background-color: $normal;
			box-shadow: 0 2px 4px 0 rgba(77,221,137,0.5);
		}
		.category-title.delayed,
		.embryo.delayed .text {
			background-color: $delayed;
			box-shadow: 0 2px 4px 0 rgba(255,189,119,0.5);
		}
		.category-title.collapses,
		.embryo.collapses .text {
			background-color: $collapses;
			box-shadow: 0 2px 4px 0 rgba(249,202,32,0.5);
		}
		.category-title.low,
		.embryo.low .text {
			background-color: $low;
			box-shadow: 0 2px 4px 0 rgba(149,111,29,0.5);
		}
		.category-title.degenerated,
		.embryo.degenerated .text {
			background-color: $degenerated;
			box-shadow: 0 2px 4px 0 rgba(232,91,95,0.5);
		}
	}

	.tr-grey-tit {
		width: 100%;
		height: 100%;
		background-color: #EFEFEF;
		border-radius: 6px 0 0 6px;
		border: 1px solid white;
		border-right: 0;
		padding: 0 7px;
		position: relative;
		span {
			font-weight: 600;
			&:first-child {
				color: #B8B8B8;
				font-size: 38px;
				line-height: 75px;
				float: left;
				margin-right: 7px;
			}
			&:last-child {
				color: #4A4A4A;
				font-size: 12px;
				line-height: 17px;
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
			}
		}
	}

	.pseudo-tooltip {
		display: none;
		position: absolute;
		left: -100%;
		bottom: 100%;
		width: 176px;
		border-radius: 3px;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);

		p.cluster-name {
			text-transform: uppercase;
		}

		img {
			width: 176px;
		}

		.impl-chance {
			height: 35px;
			box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;

			&:before,
			&:after {
				top: 100%;
				left: 45%;
				border-style: solid;
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				transform: rotate(180deg);
			}
			&:after {
				border-width: 10px;
			}

			&.normal-bg {
				&:after,
				&:before {
					border-bottom-color:  $normal;
				}
			}

			&.collapses-bg {
				&:after,
				&:before {
					border-bottom-color:  $collapses;
				}
			}

			&.low-bg {
				&:after,
				&:before {
					border-bottom-color:  $low;
				}
			}

			&.degenerated-bg {
				&:after,
				&:before {
					border-bottom-color:  $degenerated;
				}
			}

			&.delayed-bg {
				&:after,
				&:before {
					border-bottom-color: $delayed;
				}
			}

			p {
				line-height: 35px;
				width: 100%;
				color: #FFFFFF;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
			}
		}
	} // end of .pseudo-tooptip
}

.perc-two-side-arrow-wrapper {
	width: 88%;
	position: relative;
	padding: 0 20px;
	display: inline-block;
	margin-top: 25px;
	.two-sided-arrow {
		height: 8px;
		width: 100%;
		background: linear-gradient(to right, #2EC650, #BB5408);
		transform-origin: bottom left;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			border-style: solid;
			border-color: red transparent;
		}
		&:after {
			border-color: #2EC650 transparent;
			top: -6px;
			left: -19px;
			transform: rotate(270deg);
			border-width: 0 10px 20px 10px;
		}
		&:before {
			border-color: #BB5408 transparent;
			bottom: -6px;
			border-width: 20px 10px 0 10px;
			left: initial;
			right: -19px;
			transform: rotate(270deg);
		}
	}

	.perc-for-two-sided-arrow {
		margin-left: -20px;
		margin-right: -26px;
		margin-bottom: 5px;
		background: linear-gradient(to right, #2EC650, #BB5408);
		-webkit-text-fill-color: transparent;
		color: #F3A16A;
		-webkit-background-clip: text;
		span {
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
			width: 35px;
			margin-right: calc(14.7% - 35px);
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
