.btn-legend {
	height: 51px;
	width: 117px;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	padding: 13px 10px;
	cursor: help;
	&:hover {
		+ .legend-body {
			visibility: visible;
			opacity: 1;
			z-index: 100;
			left: 0;
		}
	}
}

.info-wrap {
	position: relative;
	.legend-body {
		visibility: hidden;
		position: fixed;
		z-index: -1;
		background-color: white;
		box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
		transition: all .7s cubic-bezier(.3, .5, .5, .9);;
		opacity: .5;

		padding: 10px 10px 10px 25px;
		left: -100%;
		bottom: 20px;
		width: 90vw;
		min-width: 500px;
		max-width: 50vw;
		height: auto;
		border-radius: 0 3px 3px 0;
		&:hover {
			visibility: visible;
			opacity: 1;
			z-index: 20;
			left: 0;
		}
	}
	.column {
		width: 50%;
		float: left;
		padding: 10px;
	}
	.item-type-wrapper {
		+ .item-type-wrapper {
			margin-top: 25px;
		}
	}
}
