.embryo-images-over-graph {
	.bg-img {
		width: 14.2857%;
		padding-bottom: 14.2857%;
		height: 0;
		overflow: hidden;
		float: left;
		display: inline-block;
		position: relative;
		opacity: .4;
		background-size: auto 100%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.active {
			opacity: 1;
		}
	}
}
