.training-question-options-container {

	a.disabled {
		pointer-events: none;
		color: #EFE4DC;
	}

	h2 {
		margin-bottom: 22px;
		.correct,
		.incorrect {
			font-size: 25px;
		}
	}
	&.answered {
		.designation-num {
			&:hover {
				cursor: default;
			}
		}
	}
	.designation-box {
		float: none;
		text-align: center;
	}
	.designation-num {
		padding: 0;
		width: 88px;
		height: auto;

		box-shadow: 0 0 0 1pt #ECECEC;
		border: none;
		&[data-length="long"] {
			font-size: 40px;
		}
		&.active {
			border: none;
			box-shadow: 0 0 0 2pt #5CC6C6;
			+ p {
				color: #F3A16A;
			}
		}
		&.correct {
			box-shadow: 0 0 0 2pt #74B160;
			background-color: #D5F2DC;
			outline: none;
			+ p {
				color: #61B945;
			}
		}
		&.incorrect {
			box-shadow: 0 0 0 2pt #D87B7B;
			background-color: #FFEBEB;
			outline: none;
			+ p {
				color: #D87B7B;
			}
		}
	}
}

.designation-box {
	display: block;
	float: left;
	.desc {
		border-radius: 3px;
		background-color: #EEEEEE;
		padding: 9px 15px;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 15px;
		font-weight: normal;
		line-height: 20px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		& ~ .designation-num {
			margin-top: 24px!important;
		}
	}
}
.designation-num {
	height: 102px;
	color: #C1C1C1;
	font-family: "Open Sans";
	font-size: 60px;
	font-weight: 600;
	line-height: 82px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 19px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin: 0 2px;
	position: relative;
	&.active {
		color: #F3A16A;
		transition: all 0.25s ease-in-out;
	}
	&.changeable {
		cursor: pointer;
		&:nth-of-type(1) {
			.overflow::before {
				content: "Stage";
			}
		}
		&:nth-of-type(2) {
			.overflow::before {
				content: "Quality";
			}
		}
		.overflow {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.overflow::before {
			position: absolute;
			font-size: 12px;
			top: 0;
			line-height: 23px;
			left: 0;
			right: 0;
			bottom: 16px;
			border-bottom: 1px solid #dddddd;
			text-transform: capitalize;
		}
		.overflow::after {
			content: " ";
			position: absolute;
			width: 10px;
			height: 5px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #C1C1C1;
			bottom: 5px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		&:hover, &.hover {
			&::after {
				content: " ";
				position: absolute;
				width: 15px;
				height: 15px;
				background-color: white;
				bottom: -24px;
				left: 50%;
				z-index: 80;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%) rotate(45deg);
				box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
			}
			&::before {
				content: " ";
				position: absolute;
				z-index: 100;
				width: 15px;
				height: 15px;
				background-color: white;
				bottom: -24px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%) rotate(45deg);
			}
			.options {
				display: block;
			}
		}

		.options {
			position: absolute;
			display: none;
			z-index: 90;
			background-color: #FFFFFF;
			padding: 10px 16px 10px 10px;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
			border-radius: 4px;
			margin-top: 25px;
			margin-left: -20px;
			color: #A1A1A1;
			font-family: "Open Sans";
			font-size: 12px;
			line-height: 17px;
			&:hover {
				display: block;
			}
			&::before {
				content: " ";
				display: block;
				height: 23px;
				width: 100%;
				margin-bottom: 2px;
				margin-top: -28px;
				background-color: transparent;
			}
			span {
				cursor: pointer;
				color: #C1C1C1;
				font-size: 65px;
				font-weight: 600;
				line-height: 88px;
				margin-left: 6px;
				&:hover {
					color: #F3A16A;
				}
				& + span {
					margin-left: 16px;
				}
			}
		}
	}
}
