
.back-to-top {
	transform: translateZ(0);
	width: 50px;
	height: 50px;
	background-color: #fff;
	position: fixed;
	margin-left: -150px;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(88,88,88,0.6);
	text-align: center;
	visibility: hidden;
	right: 30px;
	bottom: 50px;
	color: #585858;
	i {
		line-height: 50px;
		font-size: 30px;
		position: relative;
		top: -2px;
	}
}

.pseudo-hover {
	background-color: #F78629 !important;
	transition: 1s;
	color: white !important;
}
