html, body {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}
	::-webkit-scrollbar-thumb {
		background: rgba(247, 134, 41, 0.5); // barva posuvniku: TO-DO check s Patrikem
		border: 0px none #ffffff;
		border-radius: 30px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: rgba(247, 134, 41, 0.5);
	}
	::-webkit-scrollbar-thumb:active {
		background: rgba(247, 134, 41, 0.5);
	}
	::-webkit-scrollbar-track {
		background: #ededed;
		border: 0px none #ffffff;
		border-radius: 50px;
	//	box-shadow: inset 0 0 6px; pokud bychom chteli ohranicit oblast kde jezdime posuvnikem - TO-DO check s Patrikem
	}
	::-webkit-scrollbar-track:hover {
		background: #ededed;
	}
	::-webkit-scrollbar-track:active {
		background: #ededed;
	}
	::-webkit-scrollbar-corner {
		background: transparent;
	}
}
