.info-wrapper {
	height: 20px;
	margin: 5px 0;
	line-height: 20px;
	text-align: left;
	position: relative;
	p.pseudo-label-legend {
		margin-bottom: 0;
		display: inline-block;
		position: relative;
		top: -5px;
		left: 7px;
		color: #737373;
		font-family: "Open Sans";
		font-size: 14px;
		line-height: 24px;
		&:hover {
			color: #737373;
		}
	}
	.pseudo-info-tooltip {
		background-color: #fff;
		position: absolute;
		min-height: 388px;
		height: auto;
		width: auto;
		z-index: 1000;
		border-radius: 2px;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
		padding: 25px 10px;

		top: 50%;
		left: 80px;
		transform: translateY(-65%);

		max-width: 80%;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity .08s linear;
		.right-column,
		.left-column {
			width: 48%;
		}
		.right-column {
			float: right;
		}
		.left-column {
			float: left;
		}
		.item-type-wrapper {
			+ .item-type-wrapper {
				margin-top: 25px;
			}
			.arrow-down-graph-wrapper {
				display: inline-block;
				vertical-align: top;
				width: 20px;
				svg {
					vertical-align: top;
				}
			}
			.info-text-wrapper {
				display: inline-block;
				position: relative;
				top: -5px;
				padding-left: 5px;
				max-width: 400px;
				width: calc(100% - 20px);
				max-width: 400px;
				.heading {
					display: block;
					width: 100%;
					color: #4A4A4A;
					font-family: "Open Sans";
					font-size: 15px;
					font-weight: 600;
					line-height: 24px;
					margin-bottom: 0;
				}
				.text {
					display: block;
					width: 100%;
					color: #6F6F6F;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 500;
					line-height: 24px;
					margin-bottom: 0;
					span.bolder-text {
						font-weight: 600;
					}
				}
			}
		} // end of .item-type-wrapper
	} // end of .pseudo-tooltip
	.legend-text-wrap {
		display: inline-block;
		cursor: pointer;
	}
	.legend-text-wrap:hover ~ .pseudo-info-tooltip,
	.pseudo-info-tooltip:hover {
		visibility: visible;
		opacity: 1;
	}
}
