.embryo-showcase-container {
	.embryo-showcase-title {
		color: #F3A16A;
	}
	.designation-chosen {
		position: relative;
		height: 1px;
		width: 100%;
		margin: 55px 0 46px 0;
		background-color: #ECECEC;
		&::before {
			content: "";
			position: absolute;
			left: 1px;
			color: #B4B4B4;
			font-family: "Open Sans";
			font-size: 13px;
			font-weight: 600;
			line-height: 18px;
			top: 1px;
		}
		.designation-num {
			border: 2px solid #5CC6C6;
			box-shadow: 0 2px 4px 0 #E7E7E7;
			margin: 0 auto 0 auto;
			height: 61px;
			min-width: 40px;
			line-height: 57px;
			font-size: 30px;
			padding: 0 11px;
			position: absolute;
			top: -30.5px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: uppercase;
			&:hover {
				cursor: default;
				color: #C1C1C1;
			}
		}
	}
}

.training-question-options-container.answered ~ .embryo-showcase-container .designation-chosen:before {
	content: ""
}

