.Embryo-block {
	margin: 36px 10px 10px 10px;
	border-radius: 3px;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	min-height: 209px;
	position: relative;
	transition: all 0.5s ease;
	vertical-align: top;

	&.active,
	&:focus,
	&:hover {
		border-color: transparent;
		box-shadow: 0 5px 20px 0 rgba(170,170,170,0.5);
	}

	&:hover {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;

		.add-to-compare-button-container button.add-to-compare-button {
			display: inline-block;
			transform: translateZ(0);

			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;

			-webkit-font-smoothing: subpixel-antialiased;
		}
	}

	&.comparing {
		.fa-check {
			display: inline-block;
		}
		.fa-plus {
			display: none;
		}
		.compare {
			display: none;
		}
		.comparing {
			display: inline-block;
		}
		.add-to-compare-button-container button.add-to-compare-button {
			display: inline-block;
		}
	}

	&.embryo-list-view {
		min-height: 60px !important;
	}

	.fa-check {
		display: none;
	}
	.comparing {
		display: none;
	}

	.recharts-wrapper {
		height: 32px;
		padding-top: 8px;
	}

	.pseudo-anchor {
		position: relative;
		top: -138px;
	}
} // end of Embryo-block

.add-to-compare-button-container {
	text-align: center;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 139px;
	top: -14px;

	button.add-to-compare-button {
		transition: all 0.5s ease;
		display: none;
		height: 30px;
		width: 139px;
		border: none;
		cursor: pointer;
		outline: 0;
		border-radius: 15px;
		background-color: #5CC6C6;
		box-shadow: 0 4px 6px 0 rgba(60,115,135,0.5);
		color: #FFFFFF;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 600;
		line-height: 18px;
		img {
			line-height: 30px;
			position: relative;
			left: -5px;
			top: -1px;
		}
		&:hover {
			background-color: #57bdbd;
		}
		.fa {
			padding-left: 5px;
		}
	}
} // end of .add-to-compare-button-container

.Embryo-graph {
	cursor: pointer;
	position: relative;
	padding: 0 10px;
	background-color: #FFFFFF;
	svg {
		cursor: pointer;
	}
}

.Embryo-image {
	width: 150px;
	height: 150px;
	border-radius: 3px;
}
