
.tripple-arrow-upper-wrapper {
	height: 25px;
	width: 100%;
	display: none;
	margin-bottom: 0;
	top: -8px;
	.triple-down-arrow-wrapper {
		display: none;
	}
}

.training-question-options-container {
	.designation-num-container {
		display: inline-block;
		width: 110px;
		vertical-align: text-top;
		p {
			position: relative;
			text-align: center;
			color: #7F7F7F;
			font-family: "Open Sans";
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
		}
	}

	&:not(.answered) {
		.designation-num {
			&:hover {
				color: #F3A16A;
			}
		}
	}
	.designation-num {
		margin: 0;
		box-shadow: none;
		border: 1px solid #ECECEC;
		margin-bottom: 7px !important;
		text-transform: uppercase;
		&.active {
			box-shadow: 0 0 0 2pt #5CC6C6;
			&:hover {
				cursor: default;
			}
		}
		&:hover {
			cursor: pointer;
		}
		.img {
			cursor: pointer;
			img {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	.designation-num ~ .tripple-arrow-upper-wrapper {
		display: inline-block;
	}
	.designation-num.active:not(.incorrect):not(.correct) ~ .tripple-arrow-upper-wrapper {
		.triple-down-arrow-wrapper {
			display: inline-block;
		}
	}
	.btn.continue {
		position: relative;
		top: 44px;
		left: 20px;
	}
}
