{layout ../@login.latte}

<a n:block="footerLink" n:href="Login:">Back to Homepage</a>

{block header /}

{block content}
<h1>
	<a n:href="Homepage:">
		<img src="{$basePath}/img/ESC_logo_orange.svg" alt="Embryo Score &amp; Compare">
	</a>
</h1>
<div class="password-form-container form-container">
	{include flashes flashes => $flashes}
	<img src="/esc-web-app/www/img/email.svg" alt="Check out your email">
	<h2>Check out your email</h2>
	<p>For password recovery, please check out your contact email and follow the instructions.</p>
</div>
