.lock-circle-icon-wrapper {
	height: 43px;
	width: 43px;
	border-radius: 50%;
	line-height: 43px;
	text-align: center;
	margin: 0 auto;
	background-color: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
	svg {
		transform: scale(1.1);
	}
}
