.embryo-image-over-graph {
		.bg-img {
			padding-bottom: 0;
			width: 250px;
			height: 250px;
			background-size: auto 250px;
			background-position-y: 50%;
			margin: 7px auto;
			overflow: hidden;
			display: block;
			position: relative;
			float: none;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
