.info-icon-wrapper {
	margin-left: 1px;
	display: inline-block;
	height: 20px;
	svg {
		cursor: pointer;
		&:hover #icon-info {
			fill: #737373;
		}
		#icon-info {
			transition-timing-function: linear;
			transition: fill .25s ease-in-out;
		}
	}
}
