{import ../../presenters/templates/@commonBlocks.latte}

<div class="col-10 col-md-5 col-lg-6">
	<form n:name="contactForm" id="contact-form">
		{include flashes flashes => $flashes}
		{include formErrors form => $form}

		<div class="form-group">
			<label for="formGroupExampleInput">Full name</label>
			<input n:name="fullName" n:class="form-control, $form[fullName]->hasErrors() ? is-invalid" required="required">
			{include errors input => $form[fullName]}
		</div>

		<div class="form-group">
			<label for="formGroupExampleInput">E-mail</label>
			<input n:name="email" n:class="form-control, $form[email]->hasErrors() ? is-invalid" required="required">
			{include errors input => $form[email]}
		</div>

		<div class="form-group">
			<label for="exampleTextarea">Message</label>
			<textarea n:name="message" n:class="form-control, $form[message]->hasErrors() ? is-invalid" rows="7" required="required"></textarea>
			{include errors input => $form[message]}
		</div>

		<button n:name="submit" class="btn btn-orange submit" type="submit">Send message</button>
	</form>
</div>
