{layout ../@login.latte}

<a n:block="footerLink" n:href="Login:">Already have an account? Login</a>

{block header /}

{block content}
<h1>
	<a n:href="Homepage:">
		<img src="{$basePath}/img/ESC_logo_orange.svg" alt="Embryo Score &amp; Compare">
	</a>
</h1>
<div class="registration-form-container form-container">
	{include flashes flashes => $flashes}
	<h2>Registration</h2>
	<form n:name="registrationForm" class="user-form">
		{include formErrors form => $form}

		<div class="form-group margin-t">
			<input n:name="firstName" n:class="$form[firstName]->hasErrors() ? is-invalid" placeholder="First name">
			{label firstName /}
			{include errors input => $form[firstName]}
		</div>

		<div class="form-group">
			<input n:name="lastName" n:class="$form[lastName]->hasErrors() ? is-invalid" placeholder="Last name">
			{label lastName /}
			{include errors input => $form[lastName]}
		</div>
		<div class="clearfix"></div>

		<div class="form-group">
			<div class="select">
				<select n:name="clinic" n:class="$form[clinic]->hasErrors() ? is-invalid"></select>
				{label clinic /}
			</div>
			{include errors input => $form[clinic]}
		</div>

		<div class="form-group margin-t">
			<input n:name="email" n:class="$form[email]->hasErrors() ? is-invalid" placeholder="E-mail">
			{label email /}
			{include errors input => $form[email]}
		</div>

		<div class="form-group">
			<input n:name="password" n:class="$form[password]->hasErrors() ? is-invalid" placeholder="Password">
			{label password /}
			{include errors input => $form[password]}
		</div>

		<div class="form-group">
			<input n:name="passwordConfirm" n:class="$form[passwordConfirm]->hasErrors() ? is-invalid" placeholder="Password confirm">
			{label passwordConfirm /}
			{include errors input => $form[passwordConfirm]}
		</div>

		<div class="clearfix"></div>

		<div class="form-group left">
			<div class="checkbox">
				<input n:name="agree" n:class="$form[agree]->hasErrors() ? is-invalid">
				<span></span>
			</div>
			{label agree:}I agree with <a href="#">terms and conditions</a>{/label}
			{include errors input => $form[agree]}
		</div>

		<div class="clearfix"></div>
		<button class="btn" n:name="submit">Register</button>
	</form>
</div>

