html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #F6F6F6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
}

hr {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

section {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
	text-align: center;
	position: relative;
	h1 {
		color: $grey-h1;
		font-family: "Open Sans";
		font-size: 32px;
		font-weight: 300;
		line-height: 53px;
		text-align: center;
	}
}

p {
	color: #454545;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 600;
	line-height: 23px;
}

.pseudo-anchor {
	position: relative;
	top: -138px;
}

.center-one-line {
	display: block;
	margin: 0 auto;
}

a.btn, .btn {
	padding: 18px 50px;
	border-radius: 30px;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	transition: all 0.15s;
	&-orange {
		color: white;
		background-color: $primary-orange;
		&:hover {
			color: white;
			background-color: $dark-orange;
		}
	}
	&-white-transparent {
		color: white;
		background-color: transparent;
		border: 1px solid white;
		&:hover {
			color: white;
			background-color: $primary-orange;
			border-color: transparent;
		}
	}
}

.text-help {
	text-transform: uppercase;
	opacity: 0.3;
	letter-spacing: 2px;
	color: #868e96;
}

.strongest-z-index {
	z-index: 100;
}

.absolute {
	position: absolute;
}

.centered-box {
	position: relative;
}

.centered {
	&-v {
		left: 50%;
		transform: translateX(-50%);
	}
	&-h {
		top: 50%;
		transform: translateY(-50%);
	}
	&-v-h {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.clear {
	clear: both;
}

.fix-block {
	max-width: 1220px;
	&.row {
		margin: 0 auto;
	}
}

.screen-border {
	border-top: 32px solid #E0E0E0;
	border-radius: 6px 6px 0 0;
	&::before {
		content: "• • •";
		position: absolute;
		color: #B4B4B4;
		top: -32px;
		left: 15px;
		line-height: 36px;
		font-size: 37px;
		letter-spacing: -4px;
	}
	img {
		width: 100%;
	}
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	section h1 {
		font-size: 39px;
		line-height: 53px;
	}
}
@include media-breakpoint-down(sm) {
	.order-down-md-2 {
		order: 2;
	}
}
