header#home {
	color: white;
	height: 100vh;
	text-align: center;
	overflow: hidden;
	position: relative;
	.overlay {
		opacity: .35;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 3;
		background: #31AAFF;
	}
	h1 {
		text-transform: uppercase;
		font-family: "Open Sans";
		font-weight: bold;
		font-size: 67px;
		line-height: 62px;
		margin: 0 auto;
	}
	h2 {
		font-family: "Open Sans", sans-serif;
		font-size: 32px;
		font-weight: 300;
		line-height: 52px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 10px;
	}
	h3 {
		font-family: "Open Sans";
		font-weight: bold;
		font-size: 32px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
	}
	nav {
		ul {
			padding-left: 0;
			padding-right: 40px;
			li a.btn:hover {
				color: white;
				background-color: $primary-orange;
				border-color: transparent;
			}
		}
	}
	#register {
		margin-top: 10px;
	}
	#scroll-down {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 5;
		bottom: 70px;
	}
	video#video-background {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 1;
		overflow: hidden;
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	header#home {
		h1 {
			font-size: 78px;
		}
		h2 {
			font-size: 38px;
			margin-bottom: 35px;
		}
		h3 {
			font-size: 40px;
			line-height: 70px;
		}
		#register {
			margin-top: 60px;
		}
	}
}

@include media-breakpoint-up(lg) {
	header#home {
		#scroll-down {
			display: block;
		}
	}
}

