h1.learning {
	color: #646464;
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 36px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 19px;
}

div#learning-container {
	padding-top: 26px;
}

section.learning-main {

	background-color: white;
	border-bottom: 3px solid rgba(196,196,196,0.5);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	header {
		min-height: 146px;
		padding: 20px 30px;
		border-bottom: 1px solid #DDDDDD;
		margin-bottom: 35px;
		.main-desc {
			display: table;
			min-height: 102px;
		}
		p {
			color: #4a4a4a;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 400;
			line-height: 27px;
			margin: 0;
			vertical-align: middle;
			position: relative;
			display: table-cell;
			b {
				color: #F3A16A;
				font-weight: 600;
			}
		}
	}
	#main-properties {
		.inside {
			padding: 25px 25px 30px 25px;
			display: block;
			position: relative;
			text-align: center;
		}
		.designation {
			&-box {
				float: none;
				text-align: center;
				min-height: 127px;
				.designation-num-container {
					display: inline-block;
					.designation-num {
						height: 124px;
						font-size: 22px;
						line-height: 30px;
					}
				}
			}
			&-num {
				width: 78px;
				padding: 7px 0;
				box-shadow: none;
				border: 1px solid #ECECEC;
				margin: 0 15px;
				&.active {
					border: 3px solid #5CC6C6;
					padding: 5px 0;
					box-shadow: 0 2px 4px 0 #E7E7E7;
					&:hover {
						cursor: default;
					}
				}
				&:hover {
					color: #F3A16A;
					cursor: pointer;
				}
			}
			&-num.quality-value,
			&-num.event-value {
				height: 124px;
				font-size: 22px;
				line-height: 30px;
			}
			&-chosen {
				position: relative;
				height: 1px;
				width: 100%;
				margin: 55px 0 46px 0;
				background-color: #ECECEC;
				.designation-num {
					border: 3px solid #5CC6C6;
					box-shadow: 0 2px 4px 0 #E7E7E7;
					margin: 0 auto 0 auto;
					height: 61px;
					width: auto;
					min-width: 40px;
					line-height: 57px;
					font-size: 30px;
					padding: 0 11px;
					position: absolute;
					top: -30.5px;
					left: 50%;
					transform: translateX(-50%);
					&:hover {
						cursor: default;
						color: #C1C1C1;
					}
				}
			}
		}
	}
	.designation {
		&-box {
			display: block;
			float: left;
			.desc {
				border-radius: 3px;
				background-color: #EEEEEE;
				padding: 9px 15px;
				color: #4A4A4A;
				font-family: "Open Sans";
				font-size: 15px;
				font-weight: normal;
				line-height: 20px;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				~ .designation-num {
					margin-top: 24px!important;
				}
			}
		}
		&-num {
			height: 104px;
			width: 70px;
			color: #C1C1C1;
			font-family: "Open Sans";
			font-size: 60px;
			font-weight: 600;
			line-height: 82px;
			text-align: center;
			border-radius: 4px;
			display: inline-block;
			padding: 10px 0;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
			background-color: white;
			margin: 0 2px;
			position: relative;
			.img {
				cursor: pointer;
				img {
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 30px;
			}
			&.active {
				color: #F3A16A;
				animation-name: num-active-color;
				animation-duration: .5s;
			}
			&.changeable {
				cursor: pointer;
				&:nth-of-type(1) {
					.overflow::before {
						content: "Stage";
					}
				}
				&:nth-of-type(2) {
					.overflow::before {
						content: "Quality";
					}
				}
				.overflow {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
				.overflow::before {
					position: absolute;
					font-size: 12px;
					top: 0;
					line-height: 23px;
					left: 0;
					right: 0;
					bottom: 16px;
					border-bottom: 1px solid #dddddd;
					text-transform: capitalize;
				}
				.overflow::after {
					content: " ";
					position: absolute;
					width: 10px;
					height: 5px;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid #C1C1C1;
					bottom: 5px;
					left: 50%;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
				}
				&:hover, &.hover {
					&::after {
						content: " ";
						position: absolute;
						width: 15px;
						height: 15px;
						background-color: white;
						bottom: -24px;
						left: 50%;
						z-index: 80;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%) rotate(45deg);
						box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
					}
					&::before {
						content: " ";
						position: absolute;
						z-index: 100;
						width: 15px;
						height: 15px;
						background-color: white;
						bottom: -24px;
						left: 50%;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%) rotate(45deg);
					}
					 .options {
						display: block;
					}
				}

				.options {
					position: absolute;
					display: none;
					 z-index: 90;
					background-color: #FFFFFF;
					padding: 10px 16px 10px 10px;
					box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
					border-radius: 4px;
					margin-top: 25px;
					margin-left: -20px;
					color: #A1A1A1;
					font-family: "Open Sans";
					font-size: 12px;
					line-height: 17px;
					&:hover {
						display: block;
					}
					&::before {
						content: " ";
						display: block;
						height: 23px;
						width: 100%;
						margin-bottom: 2px;
						margin-top: -28px;
						background-color: transparent;
					}
					span {
						cursor: pointer;
						color: #C1C1C1;
						font-size: 65px;
						font-weight: 600;
						line-height: 88px;
						margin-left: 6px;
						+ span {
							margin-left: 16px;
						}
						&:hover {
							color: #F3A16A;
						}
					}
				}
			}
		}
	}

	.options-description {
		text-transform: none;
	}

	h2 {
		color: #4F4F4F;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		text-align: center;
		margin-bottom: 15px;
		.desc {
			color: #A1A1A1;
			font-family: "Open Sans";
			font-size: 15px;
			line-height: 20px;
			font-weight: normal;
			margin-top: 10px;
		}
	}
	h3 {
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 25px;
		.desc {
			color: #6F6F6F;
			font-family: "Open Sans";
			font-size: 15px;
			line-height: 20px;
			font-weight: normal;
		}
	}
	p {
		color: #6F6F6F;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: normal;
		line-height: 27px;
	}
}

#learning-container {
	.btn {
		box-shadow: none;
		padding: 12.5px 20.5px;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		border-radius: 23px;
	}
	h1 {
		position: relative;
	}
	.download-button {
		padding: 8px 28px 8px 10px;
		height: 38px;
		width: 208px;
		border-radius: 4px;
		background-color: #5CC6C6;
		position: absolute;
		right: 0;
		transition: background-color 0.25s ease-in-out;
		&:hover {
			background-color: #49AEAE;
		}
		.download-thick-icon-wrapper {
			position: absolute;
			right: 11px;
			top: 2px;
			line-height: 38px;
		}
		p {
			display: inline-block;
			color: #FFFFFF;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			text-align: right;
		}
	}
	.bottom-links {
		text-align: right;
		padding: 30px 0 50px 0;
		a {
			display: inline-block;
			+ a {
				margin-left: 40px;
			}
		}
		.step-back {
			color: #9A9A9A;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
		}
	}
} // end of #learning-container

.learning-divider {
	border: 1px #dddddd;
	margin: 0 auto;
}

.learning-embryo-graph-container {
	margin: 0 auto 30px auto;
	max-width: 938px;
}

.embryos-table {
	margin-top: 0;
}

.learning-table-title {
	margin-top: 36px;
	margin-bottom: 46px;
}

.learning-change-display-button {
	margin-bottom: 76px;
}

.learning-change-display-implantation-button {
	margin-bottom: 0;
}

@keyframes num-active-color {
	from {color: #C1C1C1;}
	to {color: #F3A16A;}
}
