.loader-wrapper {
	position: relative;
	height: 1px;
	width: 100%;
	z-index: 9999;

	// new svg animation
	svg {
		&:hover path {
			stroke: none;
		}
		path:hover  {
			stroke: none;
		}
	}
	& > div {
		margin-top: 7% !important;
	}

	// loader #1 - casual spinner
	.loader,
	.loader:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}
	.loader {
		z-index: 9999;
		font-size: 10px;
		position: absolute;
		left: 0;
		right: 0;
		width: 75px;
		height: 75px;
		margin: 200px auto 0;
		text-indent: -9999em;
		border: 1.1em solid rgba(227, 117, 38, 0.2);
		border-left-color: #e37526;
		transform: translateZ(0);
		animation: load8 1.1s infinite linear;
	}
	@-webkit-keyframes load8 {
	  0% {
		transform: rotate(0deg);
	  }
	  100% {
		transform: rotate(360deg);
	  }
	}
	@keyframes load8 {
	  0% {
		transform: rotate(0deg);
	  }
	  100% {
		transform: rotate(360deg);
	  }
	}

	// loader #2 - custom from Patric
	#lottie{
		background-color: red;
		color: blue;
		display:block;
		overflow: hidden;
		transform: translate3d(0,0,0);
		text-align: center;
		opacity: 1;
		z-index: 9999;
		font-size: 10px;
		position: absolute;
		left: 0;
		right: 0;
		width: 75px;
		height: 75px;
		margin: 200px auto 0;
		text-indent: -9999em;
	}
}

