.animation-shaking:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.animation-jumping {
	animation: jump 1.5s ease 0s infinite normal;

	&:hover {
		animation-play-state: paused;
	}
}

@keyframes jump {
	0%{
		transform: translateY(0);
	}
	20%{
		transform: translateY(0);
	}
	40%{
		transform: translateY(-14px);
	}
	50%{
		transform: translateY(0);
	}
	60%{
		transform: translateY(-7px);
	}
	80%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}

.hightlight {
	.arrow-down-graph-wrapper {
		transition-duration: 0.8s;
		transition-property: transform;
		transform: rotate(360deg);
		svg {
			path, g {
				fill: #E37526;
				stroke: #E37526;
			}
		}
	}
}
