$incorrect: #C95757;
$correct: #5F8F50;

.training-container {
	text-align: center;
	.correct,
	.correct:hover {
		color: $correct;
		.active-color {
			color: $correct!important;
		}
	}
	.incorrect,
	.incorrect:hover {
		color: $incorrect;
		.active-color {
			color: $incorrect!important;
		}
	}
	h2 {
		color: #4F4F4F;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		&.correct {
			color: #61B945;
		}
		&.incorrect {
			color: #D87B7B;
		}
	}
	h3 {
		color: #A1A1A1;
		font-family: "Open Sans";
		font-size: 15px;
		font-weight: 600;
		line-height: 20px
	}
	.graph-box {
		text-align: left;
		border-radius: 4px;
		background-color: #FFFFFF;
		box-shadow: 0 3px 0 0 rgba(196,196,196,0.5);
		padding: 12px 20px;
		min-height: 353px;
		&__transparent {
			background-color: transparent;
			box-shadow: none;
		}
		&.success {
			border: 2px solid #61B945;
			h3.result {
				color: #61B945;
				&::before {
					content: "Correct";
				}
			}
		}
		&.fail {
			border: 2px solid #D87B7B;
			h3.result {
				color: #D87B7B;
				&::before {
					content: "Incorrect";
				}
			}
		}
		h3 {
			color: #5CC6C6;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 600;
			line-height: 27px;
			display: inline-block;
			&.result {
				margin-left: 10px;
				display: inline-block;
				font-family: "Open Sans";
				font-size: 20px;
				font-weight: 600;
				line-height: 27px;
			}
		}
	}
	.embryo-showcase-description {
		color: #6F6F6F;
		font-family: "Open Sans";
		font-size: 14px;
		line-height: 27px;
	}
	.designation-chosen {
		max-width: calc(100% - 30px);
		margin-left: auto;
		margin-right: auto;
	}
	.btn {
		padding: 12px 20px;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		border-radius: 23px;
	}
}
