
.back-to-top {
	height: 45px;
	width: 45px;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(178,178,178,0.5);
	position: fixed;
	margin-left: -150px;
	text-align: center;
	visibility: hidden;
	right: 30px;
	bottom: 50px;
	color: #585858;
	transform: translateZ(0);
	transition: all 0.7s ease-in-out;
	svg {
		&:hover path {
			stroke: none;
		}
	}
	i {
		line-height: 50px;
		font-size: 30px;
		position: relative;
		top: -2px;
	}
}

.arrow-move-up .back-to-top {
	bottom: 171px;
}

.pseudo-hover {
	background-color: #F78629 !important;
	transition: 1s;
	color: white !important;
}
