<html>
	<head>
		<title>Message from contact form</title>
		<meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				color: #585858;
				font-size: 16px;
				line-height: 27px;
			}
			p {
				margin: 2rem 0;
			}
		</style>
	</head>
	<body>
		<table width="100%" bgcolor="#f3f3f3"><tr><td align="center">
			<table cellspacing="0" style="max-width: 700px;"><tr><td>
				<table bgcolor="#ffffff" width="100%" cellspacing="20">
				<tr>
					<td align="center"><img src="assets/ESC_logo_orange.svg"></td>
				</tr>
				</table>
				<table bgcolor="#ffffff" width="100%" style="border-top: 1px solid #e3e3e3; color: #585858;" cellspacing="30">
				<tr>
					<td>
						<h1 style="color: #E76120;font-family: 'Open Sans', sans-serif;font-size: 22px;font-weight: 600;line-height: 27px;">Contact form</h1>
						<p>Somebody submitted contact form with following values:</p>
						<p><b>Full name:</b> {$fullName}</p>
						<p><b>E-mail:</b> {$email}</p>
						<p><b>Message:</b> {$message|breaklines}</p>
					</td>
				</tr>
			</table>
			</td></tr></table>
			<table cellspacing="15" style="color: #868686;font-size: 12px;line-height: 17px;">
				<tr>
					<td align="center">Copyright (C) - Embryo Score &#38; Compare powered by Prague Fertility Centre</td>
				</tr>
				<tr>
					<td align="center"><img src="assets/logo-pfc.svg"></td>
				</tr>
				</table>
		</td></tr></table>
	</body>
</html>
