<html>
	<head>
		<title>Registration Successful</title>
		<meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				font-family: "Open Sans", sans-serif;
				color: #585858;
				font-size: 16px;
				line-height: 27px;
			}
			p {
				margin: 2rem 0;
				color: #585858;
				font-size: 16px;
				line-height: 27px;
				font-family: "Open Sans", sans-serif;
				font-weight: normal;
			}
		</style>
	</head>
	<body>
		<table width="100%" bgcolor="#f3f3f3" style="font-family: "Open Sans", sans-serif;"><tr><td align="center">
			<table cellspacing="0" style="max-width: 700px;"><tr><td>
				<table bgcolor="#ffffff" width="100%" cellspacing="20">
				<tr>
					<td align="center"><img src="assets/ESC_logo_orange.svg"></td>
				</tr>
				</table>
				<table bgcolor="#ffffff" width="100%" style="border-top: 1px solid #e3e3e3; color: #585858;" cellspacing="30">
				<tr>
					<td>
						<h1 style="color: #E76120;font-family: 'Open Sans', sans-serif;font-size: 22px;font-weight: 600;line-height: 27px;">Registration</h1>
						<p>Dear {$newUser->getFullName()},</p>
						<p><b>Thank you for registering</b> with <a n:href="Homepage:" style="color: #E76120;text-decoration: none;font-weight: bold;">Embryo Score &#38; Compare</a>.</p>
						<p>Our system is one of the biggest digital libraries of annotated embryos out there. Our goal is to support embryologists in their research, learning and day-to-day practice.</p>
						<p>Embryo Score &#38; Compare will be developed further on. We will be constantly adding new features. Therefore, your feedback is more than welcomed. We want to make sure we are doing it just right. If you have any comments or suggestions, feel free to contact us at <a href="mailto:{$feedbackMail}" style="color: #E76120;text-decoration: none;font-weight: bold;">{$feedbackMail}</a>.</p>
						<p>If you like our product, help us to spread the word. Tell your colleagues or friends about your experience or visit our <a href="https://www.facebook.com/EmbryoScoreCompare/" style="color: #E76120;text-decoration: none;font-weight: bold;">Facebook</a>.</p>
						<p style="color: #585858;font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight: 600;line-height: 27px;margin-bottom: 0;">Daniel Hlinka and Embryo Score &#38; Compare team.</p>
					</td>
				</tr>
			</table>
			</td></tr></table>
			<table cellspacing="15" style="color: #868686;font-size: 12px;line-height: 17px;">
				<tr>
					<td align="center">Copyright (C) - Embryo Score &#38; Compare powered by Prague Fertility Centre</td>
				</tr>
				<tr>
					<td align="center"><img src="assets/logo-pfc.svg"></td>
				</tr>
				</table>
		</td></tr></table>
	</body>
</html>
