{layout ../@login.latte}

<a n:block="footerLink" n:href="Registration:">Don’t have account? Register</a>

{block header /}

{block content}
<h1>
	<a n:href="Homepage:">
		<img src="{$basePath}/img/ESC_logo_orange.svg" alt="Embryo Score &amp; Compare">
	</a>
</h1>
<div class="login-form-container form-container">
	{include flashes flashes => $flashes}
	<h2>Login</h2>
	<form n:name="loginForm" class="user-form">
		{include formErrors form => $form}

		<div class="form-group margin-t">
			<input n:name="email" n:class="$form[email]->hasErrors() ? is-invalid" placeholder="E-mail">
			{label email /}
			{include errors input => $form[email]}
		</div>
		<div class="form-group">
			<input n:name="password" n:class="$form[password]->hasErrors() ? is-invalid" placeholder="Password">
			{label password /}
			{include errors input => $form[password]}
		</div>
		<div class="form-group left">
			<div class="checkbox">
				{input remember:}
				<span></span>
			</div>
			{label remember: /}
		</div>

		<div class="form-group right">
			<a n:href="PasswordRecovery:">Forgot your password?</a>
		</div>
		<div class="clearfix"></div>
		<button class="btn" n:name="submit">Login</button>
	</form>
</div>
