
nav {
	&.navbar.navbar-fixed-top {
		height: 50px;
		width: 100%;
		background-color: #FEFEFD;
		position: fixed;
		z-index: 800;
		left: 0;
		right: 0;
		top: 0;
		transform: translateZ(0); // prevent jumping on Chrome
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
		.user-info {
			float: right;
			padding: 0;
			top: 0;
			display: inline-block;
			line-height: 53px;
			right: 50px;
			position: absolute;
			img {
				border-radius: 50%;
			}
			p {
				display: inline-block;
				padding: 0 10px;
				margin: 0;
				color: #555459;
				font-family: "Open Sans";
				font-size: 14px;
				line-height: 19px;
				text-align: right;
			}
			.logo-drop-open {
				a {
					cursor: pointer;
					line-height: 53px;
					display: inline-block;
					text-decoration: none;
				}
				i.fa.fa-chevron-down {
					font-size: 12px;
					position: relative;
					top: -1px;
					color: #E37526;
				}
			}
			.logo-drop {
				display: none;
				position: absolute;
				top: 60px;
				right: 22px;
				width: 175px;
				border-radius: 3px;
				box-shadow: 0 6px 10px 0 rgba(166, 166, 166, 0.5);
				text-align: left;
				background-color: #fff;
				margin: 0 1rem;
				line-height: 23px;
				&:after, &:before {
					bottom: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					border-bottom-color: #fff;
					border-width: 15px;
					margin-left: 5px;
				}
				ul {
					list-style-type: none;
					margin-bottom: 5px;
					padding-top: 5px;
					padding-left: 0;
					li {
						line-height: normal;
						a {
							color: #9C9C9C;
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 600;
							padding: 10px 10px 10px 20px;
							display: inline-block;
							width: 100%;
							&:hover {
								text-decoration: none;
								background-color: #F1F1F1;
								color: #E37526;
							}
						}
					}
				}
				&.in {
					display: block;
				}
			}
		}
		.navbar-brand {
			margin-right: 50px;
			span {
				color: #E37526;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: bold;
				display: inline-block;
				padding: 0 12px;
				line-height: 53px;
			}
		}
		.nav-item {

			a.nav-link {
				display: inline-block;
				border-bottom: 3px solid transparent;
				text-decoration: none;
				line-height: 50px;
				padding-top: 0;
				padding-bottom: 0;
				margin-right: 34px;
			}

		}
	}
}

.nav-link.active {
	color: #E37526 !important;
	border-bottom-color: #E37526 !important;
}
