.apple-monitor img.apple-img {
	z-index: 99 !important;
}

.carousel-container {
	position: absolute;
	margin: 0 auto;
	display: block;
	width: 100%;
	left: 0;
	right: 0;
	top: 25px;
	.carousel {
		.slick-slide {
			transform: scale(0.8);
			width: 447px;
			transition: all .2s ease-in-out;
			img {
				filter: blur(5px);
				height: 252px;
			}
		}
		.slick-active {
			opacity: 1;
		}
		.slick-center  {
			transform: scale(1.00);
			opacity: 0.8;
			img {
				filter: blur(0px);
			}
		}
		.slick-dots {
			position: absolute;
			bottom: -194px;
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: center;
			opacity: 1;
			li {
					position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				margin: 0;
				padding: 0;
				cursor: pointer;
				button {
					&:before {
						font-family: 'slick';
						font-size: 11px;
						line-height: 20px;
						position: absolute;
						top: 0;
						opacity: 1;
						left: 0;
						width: 20px;
						height: 20px;
						content: '\2022';
						text-align: center;
						color: #D5D5D5;
						-webkit-font-smoothing: antialiased;
					}
				}
				&.slick-active {
					button:before {
						color: #F78629;
						opacity: 1;
					}
				}
			}
		}
	}
}

