
form#contact-form {
	text-align: left;
	max-width: 380px;
	input {
		height: 40px;
		max-width: 380px;
	}
	textarea {
		max-width: 380px;
		resize: none;
	}
	label {
		color: #484848;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 600;
		line-height: 18px;
	}
	.submit {
		margin: 30px auto;
		display: block;
		text-transform: uppercase;
	}
}

@media (min-width: 1200px) {
	form#contact-form {
		.submit {
			float: right;
			margin-top: 30px;
			display: block;
			text-transform: uppercase;
		}
	}
}
