@import 'contact-form';

section#get-involved-section {
	padding-bottom: 0;
	p {
		max-width: 506px;
		display: block;
		margin: 10px auto 45px;
	}
	#contact-form {
		margin: 0 auto;
	}
	#bubble-element {
		display: none;
	}
	.quote-wrapper {
		position: absolute;
		bottom: 0;
		width: 100%;
		figure {
			position: relative;
			blockquote {
				margin: 0 auto;
				border-left: 5px solid #F78629;
				max-width: 550px;
				padding-left: 14px;
				color: #454545;
				font-family: Raleway;
				font-style: italic;
				font-size: 28px;
				font-weight: 300;
				line-height: 41px;
				padding-right: 30px;
			}
			figcaption {
				max-width: 530px;
				margin: 22px auto 27px;
				text-align: center;
				color: #454545;
				font-family: "Open Sans";
				font-size: 18px;
				line-height: 24px;
				position: relative;
			}
		}
	}
}

@media (min-width: 768px) {
	section#get-involved-section {
		.quote-wrapper figure {
			figcaption {
				text-align: right;
			}
			blockquote {
				font-size: 35px;
				padding-right: 0;
			}
		}
		#contact-form {
			margin: initial;
		}
	}
}

@media (min-width: 1200px) {
	section#get-involved-section {
		#bubble-element {
			display: block;
			position: absolute;
			top: -40px;
		}
	}
}


