#take-a-look-section {
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	.row {
		justify-content: center;
	}
	.screen-border {
		position: relative;
		width: 90%;
		margin: 0 auto;
		bottom: -40px;
		height: 90%;
	}
}

@include media-breakpoint-up(md) {
	#take-a-look-section {
		height: 678px;
		text-align: left;
		h1 {
			text-align: left;
		}
		.row {
			height: 100%;
			align-items: center;
			justify-content: flex-start;
		}
		.screen-border {
			position: absolute;
			width: 937px;
			bottom: 0;
			transform: translateX(50vw);
		}
	}
}
