
section#why-we-do-it-section {
	background-color: white;
	.c-logo-wrapper {
		display: inline-block;
		position: absolute;
		top: 0;
		padding-top: 40px;
		img {
			position: relative;
			left: -60px;
		}
	}
	h1 {
		display: inline-block;
		padding-top: 40px;
	}
	p {
		max-width: 700px;
		display: block;
		margin: 75px auto 43px;
	}
	img#esc-root {
		display: block;
		margin: 0 auto;
	}
	.lines-wrapper {
		position: relative;
		#esc {
			// dont display on mobile phone
		}
	}
	.lines-wrapper-shadow {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 45px;
		p {
			display: block;
			color: #D06309;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 600;
			line-height: 23px;
			margin: 20px auto 0;
			text-align: center;
		}
	}
}

@media (min-width: 768px) {
	section#why-we-do-it-section {
		.lines-wrapper-shadow {
			width: 670px;
				p {
				display: inline-block;
				text-align: left;
				margin-top: 7px;
				&:nth-child(2) {
					margin-left: 52px;
					margin-right: 45px;
				}
			}
		}
	}
}
